<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python_Flask_SQL App</title>
 
 
    <link link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
 
    <link link rel="stylesheet" href="{{ url_for('static',filename='styles/jumbotron-narrow.css') }}">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">tu_wpisz_tytul App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>tu_wpisz_tytul</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>First</h4>
                <p>Database app for all your finances needs.</p>
 
                <h4>Second</h4>
                <p>Make it easy to calculate your left budget.</p>
 
                <h4>Third</h4>
                <p>Remember place and date of every saved transaction.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Premium First</h4>
                <p>New option to count your monthly savings, just for good use in worse days.</p>
 
                <h4>Premium Second</h4>
                <p>Allow app to count monthly routines for you. There's no need to remember about Internet cost, am I right?</p>
 
                <h4>Premium Third</h4>
                <p>Having some favourite transaction like morning coffee before work? Fast adding that cost with one button is just for you!</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; TWT App | Adam & J4r0 | 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
